@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    /* .card {
      background-color: theme('colors.white');
      border-radius: theme('borderRadius.lg');
      padding: theme('spacing.6');
      box-shadow: theme('boxShadow.xl');
    } */
    .input-box {
        @apply 
        mt-1 
        w-full 
        border-b-2 
        border-gray 
        bg-gray-lightest
        px-0 py-1 
        placeholder:text-transparent 
        focus:border-gray-dark
        focus:outline-none;
    }
    .input-label {
        @apply 
        pointer-events-none 
        absolute 
        top-0 
        left-0 
        origin-left 
        -translate-y-1/2 
        text-gray-darkest
        transform text-sm  
        opacity-80 
        transition-all 
        duration-100 
        ease-in-out 
        peer-placeholder-shown:top-1/2 
        peer-placeholder-shown:text-base 
        peer-placeholder-shown:text-gray
        peer-focus:top-0 
        peer-focus:pl-0 
        peer-focus:text-sm  
        peer-focus:text-gray-darkest;
    }
    .login-card {
        @apply 
        relative 
        mx-auto 
        w-full 
        max-w-md 
        bg-gray-lightest
        pb-8 
        pt-10 
        shadow-xl 
        px-6  
        ring-1 
        mt-10 
        ring-gray-light 
        sm:rounded-xl 
        flex sm:px-10;
    }
    .button{
        @apply 
        w-full 
        rounded-md 
        bg-gray
        px-3 
        py-4 
        text-primary
        focus:bg-gray
        focus:outline-none
    }
  }